0* {
  overflow-x: hidden;
  background-color: blanchedalmond;
  box-sizing: border-box;
}

body {
  width: 100%;
}

h2 {
  display: flex;
  justify-content: center;
  font-size: 50px;
}

.to-do {
  background-color: grey;
  border: 10px hotpink;
}

.elemendid {
  padding: 0;
}

.elemendid label {
  font-size: 20px;
  background-color: grey;
  border: 10px black;
  margin: 20px;
}

#Input {
  width: 85%;
  height: 40px;
  font-size: 15px;
}

.nupp {
  font-weight: bold;
  font-size: 25px;
  background-color: darkgray;
  margin: 10px 5px 10px 0px;
  padding: 10px 50px 10px 30px;
}

/*---KALENDER---*/
#calendar-container {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  padding: 30px;
  align-items: center;
}
caption {
  align-content: center;
  font-size: large;
  font-weight: bold;
}

#calendar .weekdays {
  background: #8e352e;
}

#calendar .weekdays th {
  text-align: center;
  text-transform: uppercase;
  line-height: 20px;
  border: none !important;
  padding: 10px 6px;
  color: #fff;
  font-size: 13px;
}
.calendar {
  background-color: ghostwhite;
}
.calendar td,
.calendar th {
  padding: 20px;
  box-sizing: border-box;
  border: 1px solid #ccc;
  font-weight: bold;
}

.calendar tr {
  grid-column: 1 / -1;
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  width: 100%;
}
.calendar td {
  height: 100%;
  display: flex;
  flex-direction: column;
}

.calendar .date {
  text-align: center;
  margin-bottom: 5px;
  padding: 4px;
  width: 20px;
  flex: 0 0 auto;
  align-self: flex-end;
}
.day-other-month {
  color: gray;
}
.day {
  color: #000;
}
