* {
  overflow-x: hidden;
  background-color: blanchedalmond;
  box-sizing: border-box;
}

body {
  width: 100%;
}

h2 {
  display: flex;
  justify-content: center;
  font-size: 50px;
}

.to-do {
  background-color: grey;
  border: 10px hotpink;
}

.elemendid {
  padding: 0;
}

.elemendid label {
  font-size: 20px;
  background-color: grey;
  border: 10px black;
  margin: 20px;
}

#Input {
  width: 85%;
  height: 40px;
  font-size: 15px;
}

.nupp {
  font-weight: bold;
  font-size: 25px;
  background-color: darkgray;
  margin: 10px 5px 10px 0px;
  padding: 10px 50px 10px 30px;
}

/*---KALENDER---*/
.calendar {
  display: flex;
}
tr {
  padding: 10px;
}
